label {
    display: inline-block;
    width: 180px;
}

label:hover {
    font-size: 40px;
}

input:hover {
    font-size: 40px;
}

fieldset {
    background: lightyellow;
    border: 10px solid yellow;
    margin-bottom: 10px;
    width: 720px;
}

span {
    text-align: center;
}

textarea {
    width: 360px;
    height: 50px;
}

.radio {
    width: auto;
    margin-right: 125px;
}

.checkbox {
    width: auto;
}

.red {
    background-color: red;
    padding: 3px 20px;
    color: white;
    margin-bottom: 10px;
}

.purple {
    background-color: purple;
    padding: 3px 20px;
    color: white;
    margin-bottom: 10px;
}

.address {
    vertical-align: top;
}

body {
    margin: 50px 300px;
}